---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url><loc>https://dcartail.pages.dev/</loc></url>
  <url><loc>https://dcartail.pages.dev/artikel/</loc></url>
  {% for post in collections.artikel %}
  <url><loc>https://dcartail.pages.dev{{ post.url }}</loc></url>
  {% endfor %}
</urlset>
